#header {
		font-size: 42px;
		border: 2px solid #848484;
		padding-left: 700px;
	}
#sidebar {
		float:left; 
		position:absolute; 
		margin-top:200px; 
		padding-top:70px; 
		padding-right:20px; 
		background-color:rgba(255, 255, 255, 0.25); 
		height:200px;
	}
#content {
		position: relative;
		margin-top: 150px;
		text-align: center;
	}
#caption {
		position: absolute;
		background-color: rgba(228, 4, 4, 0.25);
		bottom: 15px;
		left: 550px;
		z-index: 2;
}
#footer {
		background-color:#333; 
		position:relative; 
		bottom:-125px;
	}
#copyright {
		font-family:'Times New Roman', Times, serif;
		padding-right:5px; 
		text-align:right; 
		color:#848484;">
	}
.blue{
		color:blue;
	}
.green{
		color:green;
	}
a:link {
	color:#FF0000;
} 
a:visited {
	color:#00FF00
} 
a:hover {
	color:#FF00FF;
} 
a:active {
	color:#0000FF;
}